h2{
    text-align: center;
}
#main{
    width: 18%;
    position: relative;
    margin-left: 40%;
    height: 300px;
    background-color: aqua;
    box-sizing: border-box;
}
.button{
    width: 40px;
    height: 35px;
    
}
#bu{
    margin-top: 10px;
    margin-left: 15px;
   
}
input{
    margin-top: 20px;
    margin-left: 15px;
    width: 165px;
    height: 25px;
}
